{% extends 'newOrder.html' %}

{% block content %}
<h2>{% block title %} New Entry {% endblock %}</h2>

<form method="POST" class="form">
    <div class="form-group">
        <label for="title">Person id</label>
        <input type="text" name="p_id"
               placeholder="person ID " class="form-control"
               value="{{ request.form['p_id'] }}" required></input>
    </div>

    <div class="form-group">
        <label for="title">Person Name</label>
        <input type="text" name="p_name"
               placeholder="Name " class="form-control"
               value="{{ request.form['p_name'] }}" required></input>
    </div>

    <div class="form-group">
        <label for="title">Address</label>
        <input type="text" name="p_address"
               placeholder="Address" class="form-control"
               value="{{ request.form['p_address'] }}"></input>
    </div>


    
    <div class="form-group">
        <label for="title">DOB</label>
        <input type="date" name="p_dob"
               placeholder="YYYY-MM-DD" class="form-control"
               value="{{ request.form['p_dob'] }}"></input>
    </div>
    <div class="form-group">
        <label for="title">Gender</label>
               <select name="p_gender" id="item-status" value = "{{ request.form['p_gender'] }}">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
    </div>
    <div class="form-group">
        <label for="title">Blood Grp</label>
               <select name="p_blood_grp" id="item-status" value = "{{ request.form['p_blood_grp'] }}">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}

